.dropdown-menu .row ul li{
    list-style: none;
    line-height: 2.5;
}
.dropdown-menu .row ul{
    border-right: 1px solid rgb(49, 49, 49);
    font-weight: bold;
    color: rgb(4, 28, 73);
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    position: absolute;
    left: -508%;
}