.footer a{
    color: black;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
}
.footer a:hover{
    padding-left: 8px;
    color: rgb(48, 27, 71);
}
.footer h6{
    font-size: 24px;
}